/*WP-ADMIN-BAR*/
.nojq {
  background-color: #2764F1 !important;
  box-shadow: none !important;
}

#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
  color: #fff;
}

#wpadminbar #adminbarsearch:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
  color: #a0a5aa;
  color: #fff;
}

#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  background: #fff;
  color: #2764F1 !important;
  box-shadow: none !important;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: #2764F1;
  box-shadow: none !important;
}


#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #FFF;
}

#wp-admin-bar-my-account,
#wp-admin-bar-search {
  background-color: #fff;
}

li#wp-admin-bar-my-account a {
  color: #fff !important;
}

#wp-admin-bar-user-actions li a {
  color: #fff !important;
}

#wp-admin-bar-user-actions li a:hover {
  text-decoration: underline;
}